:root {
  /* color */
  --color-blue-light: #6BC4EA;
  --color-blue-medium: #2B9BCB;
  --color-grey-light: #E0E0E0;
  --color-grey-medium: #999999;
  --color-grey-dark: #666666;
  --color-black: #333333;
  --color-white: #FFFFFF;
  --color-red: #C80009;

  /* options */
  --duration: 0.8s;
  --ease-in-out: cubic-bezier(0.445, 0.050, 0.550, 0.950);
  --ease-in: cubic-bezier(0.470, 0.000, 0.745, 0.715);
  --ease-out: cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
