/* Button */
.btn {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 10px 0px;
  text-align: center;
  border-radius: 50px;
  color: #ffffff;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &:hover {
    color: #ffffff;
  }

  /* button normal */
  &--normal {
    padding: 7px 23px;
    font-size: 1rem;
  }

  /* set width 100% */
  &--w100 {
    width: 100%;
  }

  /* set color bg */
  &--grey {
    background: #BBBBBB;
    color: #ffffff;
  }
  &--red {
    background: #C80009;
    color: #ffffff;
  }
  &--blue {
    background: #6BC4EA;
  }
  &--white {
    background: #FFFFFF;
  }

  /* set color text */
  &--text-blue {
    color: #6BC4EA;
  }
  &--text-red {
    color: #C80009;
    &:hover {
      color: #C80009;
    }
  }
  &--text-black {
    color: #333333;
    &:hover {
      color: #333333;
    }
  }
}
