/* Component card */
.notice {
  padding: 0px 10px 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #E0E0E0;
  p {
    font-size: 1rem;
    color: #333333;
    line-height: 26px;
    margin-bottom: 13px;
  }
  span {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: 1;
    font-size: 0.875rem;
    color: #999999;
    a {
      margin-left: 15px;
    }
  }
}
.customer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E0E0E0;
  padding: 0px 10px 15px;
  margin-bottom: 11px;
  &__content {
    p {
      font-size: 1.125rem;
      color: #333333;
    }
    span {
      font-size: 0.75rem;
      color: #333333;
    }
  }
  a {
    line-height: 1;
  }
}
.customer-remove {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E0E0E0;
  padding: 0px 10px 13px;
  margin-bottom: 15px;
  a {
    line-height: 1;
  }
  &__content {
    margin-left: 20px;
    p {
      font-size: 1.125rem;
      color: #333333;
    }
    span {
      font-size: 0.75rem;
      color: #333333;
    }
  }
}
.customer-note {
  padding: 0px 10px 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #E0E0E0;
  p {
    font-size: 1rem;
    color: #333333;
    line-height: 26px;
    margin-bottom: 13px;
  }
  span {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: 1;
    font-size: 0.875rem;
    color: #999999;
    a {
      margin-left: 15px;
    }
  }
}
.product-regist {
  border-bottom: 1px solid #E0E0E0;
  padding: 0px 10px 15px;
  margin-bottom: 15px;
  &__content {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    font-size: 1rem;
    color: #333333;
    .date {
      margin-right: 20px;
      font-size: 16px;
      font-weight: normal;
      color: #333333;
    }
  }
  &__code {
    color: #C80009;
    font-size: 0.875rem;
    margin-bottom: 3px;
  }
  &__name {
    font-size: 1rem;
    margin-bottom: 8px;
    color: #333333;
  }
  span {
    font-size: 0.875rem;
    color: #999999;
  }
}
.product-recommend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E0E0E0;
  padding: 0px 30px 25px;
  margin-bottom: 15px;
  .content {
    width: calc(100% - 100px);
    padding-right: 30px;
    &__code {
      color: #C80009;
      font-size: 0.875rem;
      margin-bottom: 3px;
    }
    &__name {
      font-size: 1rem;
      margin-bottom: 8px;
      color: #333333;
    }
    span {
      font-size: 0.875rem;
      color: #999999;
    }
  }
  image {
    width: 100px;
    height: 100px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.product-history {
  border-bottom: 1px solid #E0E0E0;
  padding: 0px 10px 15px;
  margin-bottom: 15px;
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    &__left {
      display: flex;
      color: #333333;
      font-size: 1rem;
      span {
        margin-right: 20px;
      }
    }
    &__tag {
      background: #c80009;
      font-size: .875rem;
      font-weight: 600;
      color: #fff;
      line-height: 1;
      padding: 2px 8px;
    }
  }
  .body {
    display: flex;
    align-items: flex-start;
    &__left {
      a {
        display: inline-block;
        line-height: 1;
        width: 22px;
        height: 22px;
        margin-top: 25px;
        &.icon-check {
          width: 18px;
          height: 18px;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    &__right {
      padding-left: 13px;
      &-code {
        color: #C80009;
        font-size: 0.875rem;
        margin-bottom: 3px;
      }
      &-name {
        font-size: 1rem;
        margin-bottom: 8px;
        color: #333333;
      }
      span {
        font-size: 0.875rem;
        color: #999999;
      }
    }
  }
}
.product {
  display: flex;
  align-items: center;
  border: 1px solid #E0E0E0;
  box-shadow: 0 3px 6px rgba(0,0,0,.10);
  padding: 20px;
  .image {
    width: 174px;
    height: 174px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content {
    width: calc(100% - 174px);
    padding-left: 20px;
    &__code {
      color: #C80009;
      font-size: 0.875rem;
      margin-bottom: 3px;
    }
    &__name {
      font-size: 1rem;
      color: #333333;
    }
    span {
      display: block;
      font-size: 0.875rem;
      color: #999999;
      margin-bottom: 9px;
    }
    &__des {
      font-size: 1rem;
      color: #333333;
      margin-bottom: 12px;
    }
    &__price {
      font-size: 1.375rem;
      color: #333333;
    }
  }
}
.consultation-history {
  display: flex;
  border-bottom: 1px solid #E0E0E0;
  padding: 0px 11px 15px;
  margin-bottom: 15px;
  span {
    font-size: 1rem;
    color: #333333;
    margin-right: 20px;
  }
}
.comment-add {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  font-size: 1.125rem;
  color: #333333;
  &__image {
    width: 22px;
    height: 22px;
    line-height: 1;
    margin-right: 12px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.comment-remove {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  font-size: 1.125rem;
  color: #333333;
  &__image {
    width: 22px;
    height: 22px;
    line-height: 1;
    margin-right: 12px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.option {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  font-size: 1.125rem;
  color: #333333;
  &__image {
    width: 17px;
    height: 13px;
    line-height: 1;
    margin-right: 12px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
/* Component item */
.item {
  &-comp02 {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    font-size: 1.125rem;
    color: #333333;
    .image {
      width: 22px;
      height: 22px;
      line-height: 1;
      margin-right: 12px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &-comp04 {
    .image {
      width: 17px;
      height: 13px;
      line-height: 1;
      img {
        vertical-align: unset;
      }
    }
  }
  &-comp05 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    color: #333333;
    padding: 25px 10px;
    margin-bottom: 13px;
    border-bottom: 1px solid #E0E0E0;
  }
}
