.form-check {
  display: flex;
  align-items: center;
  margin-right: 45px;
  label {
    width: unset;
    margin-left: 5px;
    color: #333333;
    user-select: none;
  }
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #E0E0E0;
    margin-top: 0px;
    box-shadow: none;
    outline: none;
    border-radius: 2px;
    &:checked {
      background: url(../images/checkbox-select.png) no-repeat;
      background-size: cover;
      border: none;
      & + label {
        color: #333333;
      }
    }
  }
}
