/* control common */
.control-common {
  border: 1px solid #E0E0E0;
  box-shadow: none;
  outline: none;
  padding: 4px 20px;
  border-radius: 50px;
  &-w100 {
    background: #F4F4F4;
    color: #333333;
    width: 100%;
    font-size: 1.125rem;
  }
  &-large {
    background: #F4F4F4;
    color: #333333;
    width: 315px;
    font-size: 1.125rem;
  }
  &-medium {
    background: #F4F4F4;
    color: #333333;
    width: 200px;
    font-size: 1.125rem;
  }
  &-small {
    background: #F4F4F4;
    color: #333333;
    width: 140px;
    font-size: 1.125rem;
  }
  &.white {
    background: #ffffff;
  }
}

/* input note */
.form-note {
  position: relative;
  width: 100%;
  height: 38px;
  .note-control {
    padding-left: 20px;
    width: 100%;
    height: 100%;
    background: #FCFCFC;
    color: #333333;
    border: 1px solid #E0E0E0;
    outline: none;
    font-size: 1rem;
    border-radius: 50px;
    &::placeholder {
      color: #999999;
    }
  }
  a {
    position: absolute;
    right: 7px;
    top: 50%;
    margin-top: -14px;
  }
}

/* Template */
.form-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  /* form title */
  .form-title {
    font-size: 1.125rem;
    color: var(--color-grey-medium);
    width: 135px;
    margin-bottom: 0px;
  }
  /* form group */
  .form-group {
    display: flex;
    flex-wrap: wrap;
    margin-left: 18px;
    margin-bottom: 0px;
    width: calc(100% - 135px);
    .control-common {
      margin-right: 20px;
      &:last-child {
        margin: 0px;
      }
    }

    &.form-select-large {
      width: 315px;
    }
    /* button */
    a {
      display: flex;
      align-items: center;
    }

    /* textarea */
    textarea {
      width: 450px;
      height: 120px;
      background: #F4F4F4;
      border: 1px solid var(--color-grey-light);;
      box-shadow: none;
      outline: none;
      resize: none;
      padding: 10px;
      border-radius: 15px;
    }
  }
  &.form-textarea {
    align-items: start;
    margin-bottom: 0px;
    p {
      padding-top: 5px;
    }
  }
}
