/* control common */
.control-common {
  border: 1px solid #E0E0E0;
  box-shadow: none;
  outline: none;
  padding: 4px 20px;
  border-radius: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.125rem;

  /* set width 100% */
  &--w100 {
    width: 100%;
  }

  /* set width px */
  &--large {
    width: 315px;
  }
  &--medium {
    width: 200px;
  }
  &--small {
    width: 140px;
  }

  /* set color bg */
  &--white {
    background: #ffffff;
  }
  &--grey {
    background: #F4F4F4;
  }
  &--red {
    background: #C80009;
  }

  /* set color text */
  &--textwhite {
    color: #FFFFFF;
    font-weight: 600;
  }
  &--textred {
    color: #C80009;
    font-weight: 600;
  }
}

/* input note */
.form-add {
  position: relative;
  width: 100%;
  height: 38px;
  &__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 20px;
    padding-right: 40px;
    width: 100%;
    height: 100%;
    background: #FCFCFC;
    color: #333333;
    border: 1px solid #E0E0E0;
    outline: none;
    font-size: 1rem;
    border-radius: 50px;
    &::placeholder {
      color: #999999;
    }
  }
  &__btn {
    position: absolute;
    right: 7px;
    top: 50%;
    margin-top: -14px;
  }
}

/* Template */
.form-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  /* form title */
  .form-title {
    font-size: 1.125rem;
    color: var(--color-grey-medium);
    width: 135px;
    margin-bottom: 0px;
  }
  /* form group */
  .form-group {
    display: flex;
    flex-wrap: wrap;
    margin-left: 18px;
    margin-bottom: 0px;
    width: calc(100% - 135px);
    .control-common {
      margin-right: 20px;
      &:last-child {
        margin: 0px;
      }
    }

    /* button */
    a {
      display: flex;
      align-items: center;
    }

    /* textarea */
    textarea {
      width: 450px;
      height: 120px;
      border: 1px solid var(--color-grey-light);;
      box-shadow: none;
      outline: none;
      resize: none;
      padding: 10px;
      border-radius: 15px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
  &.form-textarea {
    align-items: start;
    margin-bottom: 0px;
    p {
      padding-top: 5px;
    }
  }
}
