/* form select */
.form-select {
  position: relative;
  margin-bottom: 1rem;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 22px;
    width: 12px;
    height: 8px;
    margin-top: -4px;
    background: url(../images/arrow-down.png) no-repeat;
    background-size: cover;
    pointer-events: none;
  }

  select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1rem;
    padding: 6px 20px;
  }

  /* set width px */
  &--large {
    width: 315px;
  }

  /* set bg arrow */
  &--arrowwhite {
    &:after {
      background: url(../images/arrow-down-white.png) no-repeat;
      background-size: cover;
    }
  }
  &--arrowred {
    &:after {
      background: url(../images/arrow-down-red.png) no-repeat;
      background-size: cover;
    }
  }
}
