.table__custom {
  width: 100%;
  thead {
    tr {
      display: block;
      background: #F4F4F4;
      border-bottom: 1px solid #E0E0E0;
      box-shadow: 0px 3px 6px -3px #E0E0E0;
      th {
        font-size: 1rem;
        font-weight: normal;
        color: #999999;
        padding: 10px;
        &:first-child {
          padding-left: 1.875rem;
        }
      }
    }
  }
  tbody {
    display: block;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    height: 520px;
    width: 100%;
    tr {
      width: 100%;
      border-bottom: 1px solid #E0E0E0;
      td {
        color: #333333;
        font-size: 1.125rem;
        padding: 17px 10px;
        &:first-child {
          padding-left: 1.875rem;
        }
        .btn-add {
          padding: 0px;
          background: transparent;
          border: none;
          outline: none;
        }
      }
    }
  }
}

.table__check {
  width: 100%;
  thead {
    tr {
      display: block;
      border-bottom: 1px solid #E0E0E0;
      th {
        text-align: center;
        font-size: 1rem;
        font-weight: normal;
        color: #999999;
        padding: 10px;
        width: 40px;
        &:first-child {
          width: 180px;
        }
      }
    }
  }
  tbody {
    display: block;
    height: 530px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    background: #ffffff;
    tr {
      td {
        height: 54px;
        width: 40px;
        text-align: center;
        border-bottom: 1px solid #E0E0E0;
        border-right: 1px solid #E0E0E0;
        img {
          vertical-align: unset;
        }
        &:first-child {
          text-align: left;
          padding:0px 30px;
          color: #333333;
          font-size: .875rem;
          width: 180px;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }
}
