/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
  List of CSS3 Sass Mixins File to be @imported and @included as you need
  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files
  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties
------------------------------------------------------------- */
html, body {
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased; }
  @media only screen and (max-width: 768px) {
    html, body {
      font-size: 15px; } }
  @media only screen and (max-width: 576px) {
    html, body {
      font-size: 13px; } }

.title-white {
  color: #FFFFFF;
  font-size: 2rem; }

.title-black {
  color: #333333;
  font-size: 1.625rem; }

.title-black-small {
  color: #333333;
  font-size: 1.25rem;
  font-weight: normal; }

.title-label {
  font-size: 1.125rem;
  color: #999999;
  margin-bottom: 0px; }

.paragraph-black-bg {
  color: #333333;
  font-size: 1.125rem;
  width: 100%;
  min-height: 200px;
  background: #F4F4F4;
  padding: 23px 20px;
  border: 1px solid #E0E0E0;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px; }

.paragraph-black-default {
  color: #333333;
  font-size: 1rem;
  line-height: 26px;
  margin-bottom: 6px; }

.paragraph-red {
  color: #C80009;
  font-size: 0.875rem; }

body {
  max-width: 1920px;
  margin: auto; }

a:hover {
  text-decoration: none; }

ul, ol, p {
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5 {
  margin: 0; }

* {
  margin: 0; }

img {
  max-width: 100%; }

.header {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .header-right .icon {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .header-right .icon a {
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      background: #2B9BCB; }

.card-01 {
  padding: 0px 11px 19px;
  margin-bottom: 15px;
  border-bottom: 1px solid #E0E0E0; }
  .card-01 p {
    font-size: 1rem;
    color: #333333;
    line-height: 26px;
    margin-bottom: 13px; }
  .card-01 span {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: 1;
    font-size: 0.875rem;
    color: #666666; }
    .card-01 span a {
      margin-left: 15px; }

.card-02 {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E0E0E0;
  padding: 0px 11px 13px;
  margin-bottom: 15px; }
  .card-02 .content p {
    font-size: 1.125rem;
    color: #333333; }
  .card-02 .content span {
    font-size: 0.75rem;
    color: #333333; }
  .card-02 a {
    line-height: 1; }

.card-03 {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E0E0E0;
  padding: 0px 11px 13px;
  margin-bottom: 15px; }
  .card-03 a {
    line-height: 1; }
  .card-03 .content {
    margin-left: 20px; }
    .card-03 .content p {
      font-size: 1.125rem;
      color: #333333; }
    .card-03 .content span {
      font-size: 0.75rem;
      color: #333333; }

.card-05 {
  border-bottom: 1px solid #E0E0E0;
  padding: 0px 11px 15px;
  margin-bottom: 15px; }
  .card-05 .content {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin-bottom: 4px; }
    .card-05 .content p {
      font-size: 1rem;
      color: #333333; }
      .card-05 .content p.shop-name {
        margin-left: 20px; }
  .card-05 .product-code {
    color: #C80009;
    font-size: 0.875rem;
    margin-bottom: 3px; }
  .card-05 .product-name {
    font-size: 1rem;
    margin-bottom: 8px;
    color: #333333; }
  .card-05 span {
    font-size: 0.875rem;
    color: #999999; }

.card-06 {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E0E0E0;
  padding: 0px 30px 25px;
  margin-bottom: 15px; }
  .card-06 .content {
    width: calc(100% - 100px);
    padding-right: 30px; }
    .card-06 .content .product-code {
      color: #C80009;
      font-size: 0.875rem;
      margin-bottom: 3px; }
    .card-06 .content .product-name {
      font-size: 1rem;
      margin-bottom: 8px;
      color: #333333; }
    .card-06 .content span {
      font-size: 0.875rem;
      color: #999999; }
  .card-06 image {
    width: 100px;
    height: 100px; }
    .card-06 image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.card-07 {
  border-bottom: 1px solid #E0E0E0;
  padding: 0px 11px 15px;
  margin-bottom: 15px; }
  .card-07 .content-head {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px; }
    .card-07 .content-head .left {
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; }
      .card-07 .content-head .left p {
        font-size: 1rem;
        color: #333333; }
        .card-07 .content-head .left p.shop-name {
          margin-left: 20px; }
    .card-07 .content-head a {
      background: #C80009;
      font-size: 0.875rem;
      font-weight: 600;
      color: #ffffff;
      line-height: 1;
      padding: 2px 8px; }
  .card-07 .content-body {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start; }
    .card-07 .content-body .left a {
      display: inline-block;
      line-height: 1;
      width: 22px;
      height: 22px;
      margin-top: 25px; }
      .card-07 .content-body .left a img {
        width: 100%;
        height: 100%; }
    .card-07 .content-body .right {
      padding-left: 13px; }
      .card-07 .content-body .right .product-code {
        color: #C80009;
        font-size: 0.875rem;
        margin-bottom: 3px; }
      .card-07 .content-body .right .product-name {
        font-size: 1rem;
        margin-bottom: 8px;
        color: #333333; }
      .card-07 .content-body .right span {
        font-size: 0.875rem;
        color: #999999; }

.card-08 .content-body .left a {
  width: 18px;
  height: 18px;
  opacity: 1; }
  .card-08 .content-body .left a.disable {
    opacity: 0.4; }

.card-09 {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  border: 1px solid #E0E0E0;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  padding: 20px; }
  .card-09 .image {
    width: 174px;
    height: 174px; }
    .card-09 .image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .card-09 .content {
    width: calc(100% - 174px);
    padding-left: 20px; }
    .card-09 .content .product-code {
      color: #C80009;
      font-size: 0.875rem;
      margin-bottom: 3px; }
    .card-09 .content .product-name {
      font-size: 1rem;
      color: #333333; }
    .card-09 .content span {
      display: block;
      font-size: 0.875rem;
      color: #999999;
      margin-bottom: 9px; }
    .card-09 .content .product-des {
      font-size: 1rem;
      color: #333333;
      margin-bottom: 12px; }
    .card-09 .content .product-price {
      font-size: 1.375rem;
      color: #333333; }

.item-01 {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border-bottom: 1px solid #E0E0E0;
  padding: 0px 11px 15px;
  margin-bottom: 15px; }
  .item-01 p {
    font-size: 1rem;
    color: #333333; }
  .item-01 span {
    font-size: 1rem;
    color: #333333;
    margin-left: 20px; }

.item-02 {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin-bottom: 18px; }
  .item-02 .image {
    width: 22px;
    height: 22px;
    line-height: 1; }
    .item-02 .image img {
      width: 100%;
      height: 100%; }
  .item-02 p {
    font-size: 18px;
    padding-left: 13px;
    color: #333333; }

.item-04 .image {
  width: 17px;
  height: 13px;
  line-height: 1; }
  .item-04 .image img {
    vertical-align: unset; }

.form-search {
  position: relative;
  width: 270px;
  height: 38px; }
  .form-search .search-control {
    padding-left: 20px;
    width: 100%;
    height: 100%;
    background: #ffffff;
    color: #333333;
    border: 1px solid #E0E0E0;
    outline: none;
    font-size: 1rem;
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px; }
    .form-search .search-control::placeholder {
      color: #999999; }
  .form-search a {
    position: absolute;
    width: 64px;
    height: 100%;
    background-color: #6BC4EA;
    right: 0px;
    top: 0;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 50px;
    -moz-border-radius-bottomright: 50px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 0px; }

.btn-large {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 10px 0px;
  text-align: center;
  -webkit-border-radius: 50px;
  -khtml-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  color: #ffffff; }
  .btn-large:hover {
    color: #ffffff; }
  .btn-large.btn-grey-100 {
    background: #BBBBBB;
    width: 100%;
    color: #ffffff; }
  .btn-large.btn-red-100 {
    background: #C80009;
    width: 100%;
    color: #ffffff; }
  .btn-large.btn-grey-width {
    width: 280px;
    background: #BBBBBB;
    color: #ffffff; }
  .btn-large.btn-red-width {
    width: 280px;
    background: #C80009;
    color: #ffffff; }

.btn-normal {
  display: inline-block;
  padding: 7px 23px;
  font-weight: 600;
  color: #FFFFFF;
  font-size: 1rem;
  -webkit-border-radius: 50px;
  -khtml-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px; }
  .btn-normal:hover {
    color: #ffffff; }
  .btn-normal.btn-red {
    background: #C80009; }
  .btn-normal.btn-blue {
    background: #6BC4EA; }
    .btn-normal.btn-blue.pd-medium {
      padding: 7px 44px; }
  .btn-normal.btn-blue-disable {
    background: #6BC4EA;
    opacity: 0.4; }
    .btn-normal.btn-blue-disable.pd-medium {
      padding: 7px 44px; }
  .btn-normal.btn-grey {
    background: #BBBBBB; }
  .btn-normal.btn-grey-disable {
    background: #E0E0E0; }
  .btn-normal.btn-white {
    background: #FFFFFF; }
    .btn-normal.btn-white.text-blue {
      color: #6BC4EA; }
    .btn-normal.btn-white.text-red {
      color: #C80009; }
  .btn-normal.btn-blue-long {
    background: #6BC4EA; }
  .btn-normal.btn-blue-longdisable {
    background: #6BC4EA;
    padding: 7px 44px;
    opacity: 0.4; }

.control-common {
  border: 1px solid #E0E0E0;
  box-shadow: none;
  outline: none;
  padding: 4px 20px;
  -webkit-border-radius: 50px;
  -khtml-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px; }
  .control-common-100 {
    background: #F4F4F4;
    color: #333333;
    width: 100%;
    font-size: 1.125rem; }
  .control-common-large {
    background: #F4F4F4;
    color: #333333;
    width: 320px;
    font-size: 1.125rem; }
  .control-common-medium {
    background: #F4F4F4;
    color: #333333;
    width: 200px;
    font-size: 1.125rem; }
  .control-common-small {
    background: #F4F4F4;
    color: #333333;
    width: 140px;
    font-size: 1.125rem; }
  .control-common.white {
    background: #ffffff; }

.form-note {
  position: relative;
  width: 100%;
  height: 38px; }
  .form-note .note-control {
    padding-left: 20px;
    width: 100%;
    height: 100%;
    background: #FCFCFC;
    color: #333333;
    border: 1px solid #E0E0E0;
    outline: none;
    font-size: 1rem;
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px; }
    .form-note .note-control::placeholder {
      color: #999999; }
  .form-note a {
    position: absolute;
    right: 7px;
    top: 50%;
    margin-top: -14px; }

.form-item {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
  .form-item .form-title {
    font-size: 1.125rem;
    color: #999999;
    width: 134px;
    margin-bottom: 0px; }
  .form-item .form-group {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin-left: 18px;
    margin-bottom: 0px;
    width: 100%; }
    .form-item .form-group .form-control {
      width: 320px;
      height: 38px;
      background: #F4F4F4;
      border: 1px solid #E0E0E0;
      box-shadow: none;
      outline: none;
      -webkit-border-radius: 50px;
      -khtml-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      border-radius: 50px;
      margin-right: 20px;
      padding-left: 18px; }
      .form-item .form-group .form-control-short {
        width: 140px; }
      .form-item .form-group .form-control-medium {
        width: 200px; }
      .form-item .form-group .form-control:last-child {
        margin: 0px; }
    .form-item .form-group .form-check {
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      margin-right: 45px; }
      .form-item .form-group .form-check label {
        width: unset;
        margin-left: 5px;
        color: #999999; }
      .form-item .form-group .form-check input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 18px;
        height: 18px;
        border: 2px solid #E0E0E0;
        margin-top: 0px;
        box-shadow: none;
        outline: none;
        -webkit-border-radius: 2px;
        -khtml-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px; }
        .form-item .form-group .form-check input:checked {
          background: url(../images/checkbox-select.png) no-repeat;
          background-size: cover;
          border: none;
          opacity: 0.4; }
          .form-item .form-group .form-check input:checked + label {
            color: #333333; }
    .form-item .form-group select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url(../images/arrow-down.png) 93%/12px no-repeat #F4F4F4 !important; }
    .form-item .form-group button {
      box-shadow: none;
      outline: none;
      border: none; }
      .form-item .form-group button.btn-camera {
        line-height: 1;
        height: 38px; }
    .form-item .form-group textarea {
      width: 450px;
      height: 120px;
      background: #F4F4F4;
      border: 1px solid #E0E0E0;
      box-shadow: none;
      outline: none;
      resize: none;
      padding: 10px;
      -webkit-border-radius: 15px;
      -khtml-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      border-radius: 15px; }
  .form-item.form-textarea {
    align-items: start; }
    .form-item.form-textarea p {
      padding-top: 5px; }

.form-check {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin-right: 45px; }
  .form-check label {
    width: unset;
    margin-left: 5px;
    color: #999999;
    user-select: none; }
  .form-check input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #E0E0E0;
    margin-top: 0px;
    box-shadow: none;
    outline: none;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px; }
    .form-check input:checked {
      background: url(../images/checkbox-select.png) no-repeat;
      background-size: cover;
      border: none;
      opacity: 0.4; }
      .form-check input:checked + label {
        color: #333333; }
  .form-check-bold input:checked {
    opacity: 1; }
  .form-check-bold label {
    color: #333333; }

.table-custom {
  width: 100%; }
  .table-custom thead tr {
    background: #F4F4F4;
    border-bottom: 1px solid #E0E0E0;
    box-shadow: 0px 3px 6px -3px #E0E0E0; }
    .table-custom thead tr th {
      font-size: 1rem;
      font-weight: normal;
      color: #999999;
      padding: 10px; }
      .table-custom thead tr th:first-child {
        padding-left: 1.875rem; }
      .table-custom thead tr th:last-child {
        color: transparent; }
  .table-custom tbody tr {
    border-bottom: 1px solid #E0E0E0; }
    .table-custom tbody tr td {
      color: #333333;
      font-size: 1.125rem;
      padding: 17px 10px; }
      .table-custom tbody tr td:first-child {
        padding-left: 1.875rem; }
      .table-custom tbody tr td .btn-add {
        padding: 0px;
        background: transparent;
        border: none;
        outline: none; }

.table-check {
  width: 100%; }
  .table-check thead tr {
    border-bottom: 1px solid #E0E0E0; }
    .table-check thead tr th {
      text-align: center;
      font-size: 1rem;
      font-weight: normal;
      color: #999999;
      padding: 10px; }
  .table-check tbody tr td {
    height: 54px;
    width: 40px;
    text-align: center;
    border-bottom: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0; }
    .table-check tbody tr td img {
      vertical-align: unset; }
    .table-check tbody tr td:first-child {
      text-align: left;
      padding: 0px 30px;
      color: #333333;
      font-size: .875rem;
      white-space: nowrap; }
    .table-check tbody tr td:last-child {
      border-right: none; }

.form-select {
  position: relative;
  display: inline-block; }
  .form-select:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 22px;
    width: 12px;
    height: 8px;
    margin-top: -4px;
    background: url(../images/arrow-down.png) no-repeat;
    background-size: cover;
    pointer-events: none; }
  .form-select-100 {
    width: 100%; }
  .form-select-large {
    width: 320px; }
  .form-select.arrow-white:after {
    background: url(../images/arrow-down-white.png) no-repeat;
    background-size: cover; }
  .form-select.arrow-red:after {
    background: url(../images/arrow-down-red.png) no-repeat;
    background-size: cover; }
  .form-select select {
    background: #F4F4F4;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1rem;
    padding: 6px 20px; }
    .form-select select.white {
      background: #FFFFFF; }
    .form-select select.red {
      color: #ffffff;
      background: #C80009;
      font-weight: 600; }
    .form-select select.text-red {
      color: #C80009;
      background: #FFFFFF;
      font-weight: 600; }

.template {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .template-sidebar {
    position: fixed;
    background: #ffffff;
    color: #ffffff;
    width: 220px;
    height: 100%;
    overflow-y: auto;
    -webkit-box-shadow: -2px 0px 7px #000000;
    -moz-box-shadow: -2px 0px 7px #000000;
    box-shadow: -2px 0px 7px #000000; }
    .template-sidebar h4 {
      text-align: center;
      font-weight: bold;
      padding: 15px 0px;
      background: #C80009; }
    .template-sidebar ul {
      padding: 20px; }
      .template-sidebar ul li {
        list-style: none;
        margin-bottom: 15px; }
        .template-sidebar ul li a {
          color: #333333;
          font-weight: bold; }
          .template-sidebar ul li a:hover {
            color: #C80009; }
          .template-sidebar ul li a.active {
            color: #C80009; }
  .template-content {
    width: calc(100% - 220px);
    margin-left: 220px;
    background: #E0E0E0; }
  .template-container {
    background: #ffffff;
    margin: 15px;
    padding: 15px; }
    .template-container .title-template {
      display: inline-block;
      font-weight: bold;
      font-size: 25px;
      color: #C80009;
      border-bottom: 3px solid;
      margin-bottom: 20px; }
    .template-container-item {
      margin-bottom: 40px; }
      .template-container-item .component {
        display: inline-block;
        font-size: 14px;
        margin-bottom: 15px;
        font-weight: bold;
        background: #ffff00; }
      .template-container-item .sub-title-template {
        font-weight: bold;
        margin-bottom: 10px; }
      .template-container-item ul {
        background: #f1f1f1;
        padding: 15px;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap; }
        .template-container-item ul li {
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          align-items: center;
          list-style: none;
          width: 50%;
          margin: 5px 0px; }
          .template-container-item ul li p {
            padding-left: 7px; }
          .template-container-item ul li .bg {
            width: 100px;
            height: 30px;
            -webkit-border-radius: 4px;
            -khtml-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            border-radius: 4px; }
            .template-container-item ul li .bg-01 {
              background: #6BC4EA; }
            .template-container-item ul li .bg-02 {
              background: #2B9BCB; }
            .template-container-item ul li .bg-03 {
              background: #E0E0E0; }
            .template-container-item ul li .bg-04 {
              background: #999999; }
            .template-container-item ul li .bg-05 {
              background: #666666; }
            .template-container-item ul li .bg-06 {
              background: #333333; }
            .template-container-item ul li .bg-07 {
              background: #FFFFFF; }
            .template-container-item ul li .bg-08 {
              background: #C80009; }
      .template-container-item .fonts {
        background: #f1f1f1;
        padding: 15px; }
        .template-container-item .fonts p {
          font-size: 20px;
          color: #333333; }
      .template-container-item .typoraphy {
        background: #f1f1f1;
        padding: 15px; }

@media only screen and (max-width: 1024px) {
  .template-sidebar {
    -webkit-transform: translateX(-100%);
    -khtml-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.3s;
    -khtml-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .template-content {
    width: 100%;
    margin-left: 0px; } }

.login {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  background: url("../images/bg-login.jpg") no-repeat;
  background-size: cover;
  height: 100vh; }
  .login-form h3 {
    margin-bottom: 70px; }
  .login-form form {
    width: 270px;
    margin: auto; }
    .login-form form .form-group {
      margin-bottom: 36px; }
      .login-form form .form-group:last-child {
        margin-bottom: 0px; }
      .login-form form .form-group .control-common {
        padding: 9.5px 20px; }
  .login-content {
    background: rgba(255, 255, 255, 0.85);
    height: calc(100vh - 60px);
    padding: 35px 20px;
    margin: 30px 14px; }
    .login-content h3 {
      padding: 0px 11px 30px;
      margin-bottom: 15px;
      border-bottom: 1px solid #E0E0E0; }

@media only screen and (max-width: 576px) {
  .login {
    height: auto;
    padding: 50px 0px; } }
