.carte {

  /* Carte profile */
  &-profile {
    padding: 30px;
    margin-top: 154px;

    /* Carte profile disable*/
    &-disable {
      .form-group {
        .control-common {
          background: #F4F4F4;
        }
        .btn-blue {
          opacity: 0.4;
        }
        .form-check {
          input {
            opacity: 0.4;
            &:checked {
              & + label {
                opacity: 1;
              }
            }
          }
          label {
            opacity: 0.4;
          }
        }
      }
    }
  }

  /* Carte checklist */
  &-checklist {
    margin-top: 154px;
    .layout {
      &-left {
        padding: 30px;
        .form-item {
          align-items: flex-start;
          margin-bottom: 12px;
          .form-group {
            display: flex;
            align-items: center;
            .form-check {
              margin-right: 30px;
              margin-bottom: 14px;
            }
            p {
              margin-bottom: 14px;
            }
            .form-radio {
              margin-left: 30px;
              margin-bottom: 14px;
            }
          }
        }
      }
    }

    /* Carte checklist disable */
    &-disable {
      .form-group {
        .form-check {
          input {
            opacity: 0.4;
            &:checked {
              & + label {
                opacity: 1;
              }
            }
          }
          label {
            opacity: 0.4;
          }
        }
        .form-radio {
          input {
            opacity: 0.4;
            &:checked {
              & + label {
                opacity: 1;
              }
            }
          }
          label {
            opacity: 0.4;
          }
        }
        .control-common {
          background: #F4F4F4;
        }
      }
    }
  }

  /* Carte counseling */
  &-counseling {
    margin-top: 154px;
    .layout {

      /* left */
      &-left {

        .box-head {
          padding: 25px 30px;
          /* time top */
          .time {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            &-date {
              display: flex;
              align-items: center;
              a {
                width: 11px;
                height: 16px;
                line-height: 1;
                img {
                  width: 100%;
                  height: 100%;
                  vertical-align: unset;
                }
              }
              p {
                color: #333333;
                font-weight: normal;
                font-size: 26px;
                margin: 0px 25px;
              }
            }
          }
        }

        /* tab comment */
        .tab-comment {
          background: #F4F4F4;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0px 30px;
          p {
            color: #555555;
            font-size: 20px;
            font-weight: normal;
          }
          ul {
            position: relative;
            &:before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 3px;
              background: #D5D5D5;
            }
            li {
              display: inline-block;
              list-style: none;
              a {
                display: inline-block;
                font-size: 18px;
                font-weight: normal;
                padding: 25px 20px;
                color: #999999;
              }
              &.active {
                a {
                  position: relative;
                  color:  #C80009;
                  &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    background:  #C80009;
                  }
                }
              }
            }
          }
        }

        /* list */
        .list {
          padding: 30px;
          .form-group {
            margin: 30px 0px 0px;
          }
        }
      }
    }

    /* Carte counseling disable */
    &-disable {
      .layout-left {
        .box-head {
          .content {
            .paragraph-black-bg {
              background: #F4F4F4;
            }
          }
        }
        .list {
          .item-comp02 {
            a {
              opacity: 0.4;
            }
          }
        }
      }
      .layout-sidebar {
        .list {
          .card-comp07 {
            .content-body {
              .left {
                a {
                  opacity: 0.4;
                }
              }
            }
          }
        }
      }
    }
  }

  /* Carte status */
  &-status {
    margin-top: 154px;
    .layout {

      /* left */
      &-left {
        .select-year {
          padding: 0px 30px;
          .form-group {
            margin-bottom: 0px;
            width: 130px;
            transform: translateY(20px);
          }
        }
      }
    }

    /* Carte status disable */
    &-disable {
      .layout-sidebar {
        .item-comp05 {
          .btn-blue {
            opacity: 0.4;
          }
        }
        .list {
          .card-comp08 {
            .content-body {
              .left {
                a {
                  opacity: 0.4;
                }
              }
            }
          }
        }
      }
    }
  }

  /* Carte recommend */
  &-recommend {
    margin-top: 154px;
    .layout {

      /* left */
      &-left {

        /* search */
        .search-box {
          display: flex;
          padding: 25px 30px;
          border-bottom: 1px solid #E0E0E0;
          .form-group {
            margin-bottom: 0px;
            margin-right: 15px;
            &:last-child {
              margin-right: 0px;
            }
            select {
              color: #999999;
            }
          }
        }

        /* product list */
        .product-list {
          padding: 20px 30px;
          .card-comp09 {
            margin-bottom: 20px;
            background: #ffffff;
            box-shadow: 0px 3px 6px rgba(0,0,0,.1);
            &:last-child {
              margin-bottom: 0px;
            }
          }
        }
      }

    }

    /* Carte recommend disable */
    &-disable {
      .layout-sidebar {
        .content {
          .item-comp05 {
            .btn-grey {
              opacity: 0.4;
            }
          }
          .item-comp02 {
            img {
              opacity: 0.4;
            }
            .text-grey {
              opacity: 0.4;
            }
          }
        }
      }
    }
  }

  /* Carte recommend detail*/
  &-recommend-detail {
    margin-top: 88px;
    padding: 30px;

    /* detail top */
    .detail-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 23px;
      .left {
        p {
          font-size: 20px;
          font-weight: normal;
          color: #C80009;
          margin-bottom: 3px;
        }
        h3 {
          color: #333333;
          font-weight: normal;
        }
        span {
          font-size: 14px;
          color: #999999;
        }
      }
      .right {
        a {
          margin-left: 15px;
          width: 150px;
          text-align: center;
        }
      }
    }

    /* detail body */
    .detail-body {
      display: flex;
      .image-detail {
        width: 240px;
        height: 240px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .content {
        width: calc(100% - 240px);
        padding-left: 30px;
        .list-overall {
          li {
            display: flex;
            align-items: center;
            list-style: none;
            margin-bottom: 10px;
            span {
              font-size: 18px;
              font-weight: normal;
              color: #999999;
            }
            .star {
              line-height: 1;
              margin-left: 15px;
            }
            .btn-normal {
              color: #333333;
              font-size: 16px;
              font-weight: normal;
              border: 1px solid #E0E0E0;
              margin-left: 15px;
            }
            .item-comp02 {
              margin-bottom: 0px;
              margin-left: 17px;
              img {
                width: 18px;
                height: 14px;
              }
              p {
                padding-left: 5px;
              }
            }
            &:nth-child(2) {
              margin-bottom: 2px;
            }
            &:last-child {
              margin-bottom: 0px;
            }
          }
        }
        .price {
          font-size: 24px;
          font-weight: 400;
          margin: 28px 0;
          line-height: 1;
        }
        .des {
          font-size: 18px;
          font-weight: normal;
          color: #333333;
          line-height: 28px;
          margin-bottom: 22px;
        }
        .list-parameter {
          li {
            list-style: none;
            display: flex;
            border-bottom: 1px solid #E0E0E0;
            padding: 20px 10px;
            span {
              font-size: 18px;
              font-weight: normal;
              color: #333333;
              width: 150px;
            }
            .param-des {
              font-size: 18px;
              font-weight: normal;
              color: #333333;
              width: calc(100% - 150px);
            }
            &:first-child {
              border-top: 1px solid #E0E0E0;
            }
          }
        }
      }
    }

    /* sidebar */
    .sidebar {
      position: fixed;
      right: 0;
      top: 88px;
      height: calc(100% - 88px);
      .item-comp05 {
        padding: 25px 30px;
      }
      &-list {
        padding: 0px 19px 100px;
        border-bottom: 1px solid #E0E0E0;
        .card-comp01 {
          padding-bottom: 13px;
          p {
            margin-bottom: 11px;
          }
          .bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .star {
              img {
                width: 16px;
                height: 15px;
                vertical-align: unset;
              }
            }
          }
        }
      }

      &-add-rating {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding: 20px 30px;
        .rating {
          display: flex;
          justify-content: flex-end;
          flex-direction: row-reverse;
          margin-bottom: 20px;
          input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            box-shadow: none;
            width: 20px;
            height: 19px;
            margin-right: 4px;
            background: url("../images/icon-star-grey.png") no-repeat;
            &:hover {
              background: url("../images/icon-star-red.png") no-repeat;
              & ~ input {
                background: url("../images/icon-star-red.png") no-repeat;
              }
            }
            &:checked {
              background: url("../images/icon-star-red.png") no-repeat;
              & ~ input {
                background: url("../images/icon-star-red.png") no-repeat;
              }
            }
          }

        }
      }
    }

    /* Carte recommend detail disable */
    &-disable {
      .detail-top {
        .right {
          a {
            opacity: 0.4;
          }
        }
      }
    }
  }
}

