.login {
  display: flex;
  align-items: center;
  background: url("../images/bg-login.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  /* form */
  &__form {
    h3 {
      margin-bottom: 67px;
    }
    form {
      width: 270px;
      margin: auto;
      .form-group {
        margin-bottom: 36px;
        &:last-child {
          margin-bottom: 0px;
        }
        .control__common {
          padding: 10.5px 20px;
          font-size: 1.125rem;
          border: none;
        }
      }
    }
  }

  /* content */
  &__content {
    background: rgba(255, 255, 255, 0.85);
    height: calc(100vh - 60px);
    padding: 35px 20px;
    margin: 30px 14px;
    h3 {
      padding: 0px 11px 30px;
      margin-bottom: 15px;
      border-bottom: 1px solid #E0E0E0;
      font-weight: normal;
    }
    .content__list {
      height: calc(100% - 80px);
      overflow: auto;
    }
  }
}
