/* Layout common */
.layout {
  display: flex;
  margin-top: 88px;
  &-left {
    width: calc(100% - 368px);
    min-height: 680px;
  }
  &-sidebar {
    width: 368px;
    border: 1px solid #E0E0E0;
    box-shadow: -1px 0px 6px rgba(0, 0, 0, .16);
  }
}

/* Reponsive */
@mixin info-phone-normal {
  .layout {
    margin-top: 134px;
  }
}
