/* Title */
.title {
  color: #000000;
  &--white {
    color: #FFFFFF;
    font-size: 2rem;
  }
  &--black {
    color: #333333;
    font-size: 1.625rem;
  }
  &--blacksmall {
    color: #333333;
    font-size: 1.25rem;
  }
}

/* Paragraph */
.paragraph {
  font-size: 1rem;
  &--default {
    color: #333333;
    line-height: 26px;
    margin-bottom: 6px;
  }
  &--red {
    color: #C80009;
    font-size: 0.875rem;
  }
}
