.header {
  @include flex;
  &-left {
    .form-select {

    }
  }
  &-right {
    .btn-red {

    }
    ul {
      li {
        span {

        }
      }
    }
    .icon {
      @include flex;
      a {
        @include flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        background: #2B9BCB;
      }
      &-setting {

      }
      &-question-mark {

      }
    }
  }
}
